.homedetails-div {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-top: 3.5rem;
  justify-content: space-around;
  padding-left: 4.44rem;
  padding-right: 4.44rem;
}

.details-subdiv {
  display: flex;
  align-items: flex-start;
  width: fit-content;
}

.details-subdiv img {
  transform: scale(0.8);
}
.details-subdiv2 {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: max-content;
}
.details-title {
  font-size: 1.5rem;
  letter-spacing: 0;
  color: #ffffff;
}
.details-value {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0;
  color: #ffffff;
  width: fit-content;
}

* ::-webkit-scrollbar {
  display: none;
}

@media all and (max-width: 1020px) {
  .details-subdiv {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

@media all and (max-width: 540px) {
  .homedetails-div {
    background-color: #ffffff11;
    border-top: 1px solid #ffffff55;
    margin-top: 0rem;
    flex-flow: row nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    align-items: center;
    margin-bottom: 0em;
    justify-content: flex-start;
    padding-left: 0rem;
    padding-right: 0rem;
    height: 11rem;
    position: absolute;
    width: 100vw;
    bottom: 0px;
  }

  .details-title {
    font-size: 1.44rem;
    letter-spacing: 0;
    color: #ffffff;
  }
  .details-value {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0;
    color: #ffffff;
    width: max-content;
  }
}
