.homedetails-div {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-top: 3.5rem;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
}

.details-subdiv {
  display: flex;
  align-items: flex-start;
}

.details-subdiv img {
  transform: scale(0.8);
}
.details-subdiv2 {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.details-title {
  font-size: 1.5rem;
  letter-spacing: 0;
  color: #ffffff;
}
.details-value {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0;
  color: #ffffff;
}

@media all and (max-width: 1020px) {
  .homedetails-div {
    /* margin-top: 0rem;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px; */
    background-color: #ffffff11;
    border-top: 1px solid #ffffff55;
    margin-top: 0rem;
    flex-flow: row nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    align-items: center;
    margin-bottom: 0em;
  }

  .homedetails-div ::-webkit-scrollbar {
    display: none;
  }
}
