.homedis-div {
  display: flex;
  flex-direction: column;
  margin-top: 4.7rem;
}

.home-place {
  display: flex;
  flex-direction: column;
  margin-left: 1.1rem;
  margin-bottom: 2.6rem;
}

.home-place p {
  height: 2.4rem;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0;
}

.addfav-div {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  cursor: pointer;
}

.addfav-div p {
  height: 1.5rem;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0;
  padding-left: 0.3rem;
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home-body img {
  height: 8.4rem;
  width: 8rem;
}

.home-body h1 {
  color: #ffffff;
  font-size: 6.4rem;
  font-weight: 500;
  letter-spacing: 0;
  margin: 0 auto;
  padding: 0px;
  margin: 0px;
}

.home-body h2 {
  height: 2.5rem;
  color: #ffffff;
  font-size: 2.2rem;
  letter-spacing: 0;
  text-transform: capitalize;
}

.home-body-sub {
  display: flex;
  align-items: flex-end;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}

.temp-button {
  display: flex;
  justify-content: flex-start;
  height: 3rem;
  width: 5.5rem;
  margin-bottom: 1.4rem;
  border: 1px solid #ffffff;
  margin-left: 0.6rem;
  cursor: pointer;
}

.btn-select {
  display: flex;
  width: 50%;
  font-size: 1.65rem;
  letter-spacing: 0;
  color: #ffffff;
  align-items: center;
  justify-content: space-around;
}

.btn-notselect {
  display: flex;
  width: 50%;
  font-size: 1.65rem;
  letter-spacing: 0;
  color: #e32843;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-around;
}
.mbl-date-div {
  display: none;
}

@media all and (max-width: 540px) {
  .mbl-date-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-mbl-date {
    opacity: 0.6;
    color: #ffffff;
    font-size: 1.44rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    white-space: pre-wrap;
  }

  .homedis-div {
    margin-top: 1rem;
  }

  .home-place {
    align-items: center;
    justify-content: center;
    margin-bottom: 9rem;
  }

  .home-place p {
    font-size: 2.1rem;
  }

  .addfav-div {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    cursor: pointer;
  }

  .addfav-div p {
    height: 1.677rem;
    font-size: 1.44rem;
  }

  .home-body {
    padding-bottom: 8.77rem;
    border: none;
  }

  .home-body img {
    height: 7rem;
    width: 7.1rem;
  }

  .home-body h1 {
    font-size: 5.77rem;
  }

  .home-body h2 {
    font-size: 2rem;
  }
}
