html {
  font-size: 10px;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.App {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
  min-height: 100%;
  background: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

@media all and (max-width: 820px) {
  html {
    font-size: 9px;
    transition: all 0.2s ease-in-out;
  }
}

@media all and (max-width: 620px) {
  html {
    font-size: 9px;
    transition: all 0.2s ease-in-out;
  }

  .App {
    width: 91.11%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
