.header-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 4.4rem;
}

.logo {
  height: 3rem;
  width: 14.2rem;
}

.search-div {
  box-sizing: border-box;
  height: 4.5rem;
  width: 47.7%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-div img {
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.search-div input {
  height: 4.5rem;
  border: none;
  outline: none;
  line-height: 85px;
  opacity: 0.8;
  color: rgb(255, 255, 255);
  background-color: transparent;
  margin-left: 1rem;
  font-size: 1.6rem;
}

::placeholder {
  color: rgb(255, 255, 255, 0.5);
  font-size: 1.6rem;
}

.ham-menu {
  display: none;
}

.mobile-menu-div {
  display: none;
}

@media all and (max-width: 620px) {
  .logo {
    height: 2.6rem;
    width: 12.55rem;
  }

  .logo-ham-div {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
}

.mbl-search-icon {
  display: none;
}
.mbl-searcharea-div {
  display: none;
}

.mblfav-header-div {
  display: none;
}

@media all and (max-width: 540px) {
  .header-div {
    margin-top: 1.77rem;
    margin-bottom: 4.4rem;
    margin-left: 1.77rem;
    margin-right: 1.77rem;
  }

  .search-div input {
    display: none;
  }

  .ham-menu {
    display: flex;
    height: 1.33rem;
    width: 2rem;
  }

  .logo {
    height: 2.6rem;
    width: 12.55rem;
    margin-left: 3.8rem;
  }

  /* .search-div {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border: none;
    margin-right: 2.5rem;
  } */

  .search-div {
    display: none;
  }

  .mbl-search-icon {
    display: flex;
    cursor: pointer;
    margin-right: 4.7rem;
  }

  .mobile-menu-div {
    display: flex;
    height: 100vh;
    /* width: 30rem; */
    width: 60%;
    background-color: #ffffff;
    position: absolute;
    left: 0px;
    z-index: 1;
  }

  .mobile-menu-subdiv {
    display: flex;
    flex-direction: column;
    height: 12.44rem;
    width: 10rem;
    margin-top: 2.77rem;
    margin-left: 3.33rem;
    justify-content: space-around;
  }
  .nav-mbl-text {
    color: #707070;
    font-size: 1.5rem;
    letter-spacing: 0;
    cursor: pointer;
  }

  .nav-mbl-selet {
    color: rgb(0, 0, 0);
  }

  .mbl-searcharea-div {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
  }
  .mbl-searchsub-div {
    display: flex;
    width: 100vw;
    height: 6.5rem;
    border-bottom: 2px solid rgb(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
  }
  .mbl-search-input {
    height: 4.3rem;
    border: none;
    outline: none;
    line-height: 85px;
    color: #070707;
    /* color: rgba(0, 0, 0, 0.3); */
    background-color: transparent;
    /* margin-left: 1rem; */
    font-size: 1.6rem;
    width: 60%;
  }

  .mbl-searchsub-div img {
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 1.7rem;
    margin-right: 3rem;
  }

  .search-extra-div {
    display: flex;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 1.7rem;
    margin-right: 3rem;
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
  }

  .mblfav-header-div {
    display: flex;
    width: 100vw;
    height: 6.5rem;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.7rem;
  }

  .mblfav-header-div img {
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .mblfav-header-div h1 {
    color: #292f33;
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 0;
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    text-transform: capitalize;
    margin-right: auto;
  }
}
