.favmain-div {
  height: fit-content;
  margin-top: 2.3rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.favmain-div::-webkit-scrollbar {
  width: 5px;
}

.favmain-div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ee9e9e;
}

.fav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  letter-spacing: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.6rem;
  color: #ffffff;
}

.fav-header h3 {
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}

.favsub-list-div {
  display: flex;
  align-items: center;
  height: 7.3rem;
  background-color: rgb(255, 255, 255, 0.1);
  margin-bottom: 0.1rem;
  position: relative;
}
.favsub-list-div:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.favsub1-div {
  display: flex;
  align-items: center;
  width: 95%;
}

.favlist-city {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0;
  color: #ffffff;
  margin-left: 1.5rem;
  cursor: pointer;
  width: 45rem;
}

.favlist-city:hover {
  color: #ffe539;
}

.favsub2-div {
  align-items: center;
  display: flex;
  color: #ffffff;
  letter-spacing: 0;
  width: 56rem;
}

.favsub2-div img {
  height: 3rem;
  width: 3.6rem;
  margin-right: 2.8rem;
}

.favsub3-div {
  display: flex;
  width: 12rem;
}
.favsub3-div h1 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-right: 0.4rem;
}

.favsub3-div h3 {
  font-size: 1.7rem;
  margin-right: 3.2rem;
  display: flex;
  align-self: center;
  margin-top: 5px;
}

.favsub2-div p {
  font-size: 1.8rem;
  margin-top: 5px;
  text-transform: capitalize;
  margin-left: 5px;
}

.favlist-heart {
  height: 1.7rem;
  width: 1.8rem;
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 820px) {
  .favlist-city {
    width: 22rem;
  }

  .favsub-list-div {
    margin-bottom: 0.2rem;
  }
}

@media all and (max-width: 620px) {
  .favsub-list-div {
    height: 8.9rem;
    justify-content: space-between;
    /* z-index: -1; */
  }

  .favsub1-div {
    flex-direction: column;
    width: 32.2rem;
    align-items: flex-start;
  }

  .favlist-city {
    font-size: 1.67rem;
    margin-left: 1.67rem;
    margin-bottom: 1rem;
    color: #ffe539;
  }

  .favsub2-div {
    width: 30rem;
    margin-left: 1.67rem;
  }

  .favsub2-div img {
    height: 2.1rem;
    width: 2.44rem;
    margin-right: 1rem;
  }

  .favsub3-div {
    display: flex;
    width: 7.7rem;
  }
  .favsub3-div h1 {
    font-size: 2.1rem;
    font-weight: 500;
    margin-right: 0.4rem;
    margin-top: 1px;
  }

  .favsub3-div h3 {
    font-size: 1.44rem;
    margin-right: 2rem;
  }

  .favsub2-div p {
    font-size: 1.55rem;
    margin-top: 5px;
    text-transform: capitalize;
    margin-left: 1px;
  }

  .favlist-heart {
    margin-right: 2.3rem;
  }
}

@media all and (max-width: 540px) {
  .favmain-div {
    margin-top: 0rem;
    width: 91.11%;
    margin: 0 auto;
  }
}
