.favmain-div {
  display: flex;
  flex-direction: column;
  margin-top: 2.3rem;
  /* background-color: rgb(200, 235, 106); */
}

.fav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  letter-spacing: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.6rem;
  color: #ffffff;
}

.fav-header h3 {
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}

.favsub-list-div {
  display: flex;
  align-items: center;
  height: 7.3rem;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.1);
  margin-bottom: 1px;
  position: relative;
}
.favsub-list-div:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.favsub1-div {
  display: flex;
  align-items: center;
  width: 95%;
}

.favlist-city {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0;
  color: #ffffff;
  margin-left: 1.5rem;
}

.favlist-city:hover {
  color: #ffe539;
}

.favsub2-div {
  align-items: center;
  display: flex;
  color: #ffffff;
  letter-spacing: 0;
  width: 51%;
  align-items: center;
  position: absolute;
  left: 420px;
}

.favsub2-div img {
  height: 3.8rem;
  width: 3.6rem;
  margin-right: 2.8rem;
}

.favsub3-div {
  display: flex;
  width: 25%;
}
.favsub3-div h1 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-right: 0.4rem;
}

.favsub3-div h3 {
  font-size: 1.7rem;
  margin-right: 3.2rem;
  display: flex;
  align-self: center;
  margin-top: 5px;
}

.favsub2-div p {
  font-size: 1.8rem;
  margin-top: 5px;
  text-transform: capitalize;
}

.favlist-heart {
  height: 1.7rem;
  width: 1.8rem;
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
