.nolist-div {
  height: 70vh;
  width: 18rem;
  display: flex;
  flex-direction: column;
  color: #ffff;
  margin: 0 auto;
  justify-content: center;
}
.nolist-div img {
  height: 8.4rem;
  width: 15.9rem;
}
.nolist-div p {
  font-size: 1.8rem;
  font-weight: 550;
  padding-top: 2.5rem;
}
